<form autocomplete="off" class="flexcol">
    <fieldset>
        <legend>{{localize "Sight"}}</legend>
        <div class="detection-modes {{classPrefix}}--detection-modes">
            <header class="detection-mode">
                <div class="detection-mode-id">{{localize "TOKEN.DetectionMode"}}</span></div>
                <div class="detection-mode-range">{{localize "TOKEN.DetectionRange"}} <span
                        class="{{classPrefix}}--detection-units">({{gridUnits}})</span></div>
                <div class="detection-mode-enabled">{{localize "TOKEN.DetectionEnabled"}}</div>
                <div class="detection-mode-controls">
                    <a class="action-button" data-action="addDetectionMode" data-tooltip="TOKEN.DetectionAdd">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
            </header>

            {{#each sight as |mode i|}}
            <fieldset class="detection-mode" data-index="{{i}}">
                <div class="detection-mode-id">
                    <select name="sight.{{i}}.id">
                        {{selectOptions ../detectionModes selected=mode.id blank=""
                        nameAttr="id" labelAttr="label" localize=true}}
                    </select>
                </div>
                <div class="detection-mode-range">
                    <input name="sight.{{i}}.range" type="number" value="{{mode.range}}" min="0" step="0.01"
                        placeholder="&#xF534;" class="{{../classPrefix}}--range">
                </div>
                <div class="detection-mode-enabled">
                    <input name="sight.{{i}}.enabled" type="checkbox" {{checked mode.enabled}} />
                </div>
                <div class="detection-mode-controls">
                    <a class="action-button" data-action="removeDetectionMode" data-tooltip="TOKEN.DetectionRemove">
                        <i class="fa-solid fa-times"></i>
                    </a>
                </div>
            </fieldset>
            {{/each}}
        </div>
    </fieldset>

    <div class="form-group slim">
        <label>{{localize "Light"}}</label>
        <div class="form-fields">
            <label>{{localize "TOKEN.DetectionEnabled"}}</label>
            <input type="checkbox" name="light.enabled" {{checked light.enabled}}>
            <label>{{localize "TOKEN.DetectionRange"}} <span class="units">({{gridUnits}})</span></label>
            <input name="light.range" type="number" value="{{light.range}}" min="0" step="0.01" placeholder="&#xF534;"
                class="{{classPrefix}}--range">
        </div>
    </div>

    <div class="form-group slim">
        <label>{{localize "Sound"}}</label>
        <div class="form-fields">
            <label>{{localize "TOKEN.DetectionEnabled"}}</label>
            <input type="checkbox" name="sound.enabled" {{checked sound.enabled}}>
            <label>{{localize "TOKEN.DetectionRange"}} <span class="units">({{gridUnits}})</span></label>
            <input name="sound.range" type="number" value="{{sound.range}}" min="0" step="0.01" placeholder="&#xF534;"
                class="{{classPrefix}}--range">
        </div>
    </div>

    <footer class="sheet-footer">
        <button type="reset">
            <i class="fas fa-undo"></i> {{localize "SETTINGS.Reset"}}
        </button>
        <button type="submit">
            <i class="far fa-save"></i> {{submitText}}
        </button>
    </footer>
</form>
